html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  text-transform:  capitalize;
  border: 0;
  font-size: 13px;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.list-element:last-child{
    border:0;
}
.employees-list:last-child{
     border:0;   
}
select{
    
-webkit-appearance:none 
}
.select:after {
  content: "\f0dc";
  font-family: FontAwesome;
  color: #000;
  padding:8px;
  position:relative;
  right:35px;
  top:0px;
  background:red;
  z-index:-1;
  width:10%;
  line-height:10%;
}
    .select {
    position:relative;   
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    margin-top:40px;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}
.tasks .notification {
    width: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Colors */
/* ---------------------------------------- */

a {
  text-decoration: none;
  color:  white;
}

.info-text {
  text-align: left;
  width: 100%;
}

header, form {
}

.form-group {
  margin-bottom: 20px;
  padding: 0 0 14px;
  /* color: #699cf8; */
}
.breadcrumb>.active {
    color: #ffe201;
}

h2.heading,.default .heading  {
  font-size: 27px;
  text-transform: capitalize;
  /* font-weight: 300; */
  padding-left: 13px;
  /* font-family: 'Raleway'; */
  /* text-align: left; */
  color: #428bca;
  /* border-bottom: 1px solid #4b77f3; */
  padding-bottom: 3px;
  margin-bottom: 19px;
  font-weight: 600;
}
.addSec h2.heading, .enter-task .heading, .task .heading{
  font-size: 27px;
  padding-left: 13px;
  padding-bottom: 3px;
  font-weight: 100;
  font-size: 20px;
  text-transform: capitalize;
  /* font-family: 'Raleway'; */
  color: white;
  border-radius: 12px 2px;
  padding: 15px 10px;
  background: #49baf0;
  /* margin-bottom: 20px; */
}
.controls {
  text-align: left;
  position: relative;
}
.controls input[type="text"],
.controls input[type="email"],
.controls input[type="number"],
.controls input[type="date"],
.controls input[type="tel"],
.controls textarea,
.controls button,
.controls select {
  padding: 16px 0 25px 10px;
  font-size: 14px;
  border: 1px solid #c6c6c6;
  width: 100%;
  margin-bottom: 10px;
  cursor:  pointer;
  color: #888;
  font-size: 16px;
  font-weight: 300;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.controls input[type="text"]:focus, .controls input[type="text"]:hover,
.controls input[type="email"]:focus,
.controls input[type="email"]:hover,
.controls input[type="number"]:focus,
.controls input[type="number"]:hover,
.controls input[type="date"]:focus,
.controls input[type="date"]:hover,
.controls input[type="tel"]:focus,
.controls input[type="tel"]:hover,
.controls textarea:focus,
.controls textarea:hover,
.controls button:focus,
.controls button:hover,
.controls select:focus,
.controls select:hover {
  outline: none;
  border-color: deepskyblue;
}
.controls input[type="text"]:focus + label, .controls input[type="text"]:hover + label,
.controls input[type="email"]:focus + label,
.controls input[type="email"]:hover + label,
.controls input[type="number"]:focus + label,
.controls input[type="number"]:hover + label,
.controls input[type="date"]:focus + label,
.controls input[type="date"]:hover + label,
.controls input[type="tel"]:focus + label,
.controls input[type="tel"]:hover + label,
.controls textarea:focus + label,
.controls textarea:hover + label,
.controls button:focus + label,
.controls button:hover + label,
.controls select:focus + label,
.controls select:hover + label {
  color: #4b77f3;
  cursor: text;
}
.controls .fa-sort {
  position: absolute;
  right: 31px;
  top: 49px;
  color: #999;
}
.controls select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.controls label {
  text-transform: capitalize;
  margin-bottom: 6px;
  width: 100%;
  color: #000;
  font-size: 14px;
  display: inline-block;
  /* font-family: 'Raleway'; */
  /* font-weight: 600; */
  background-color: rgba(255, 255, 255, 0);
  -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;
  -o-transition: color 0.3s, top 0.3s, background-color 0.8s;
  -webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;
  transition: color 0.3s, top 0.3s, background-color 0.8s;
}
.DateControl label{
    
text-transform: capitalize;
    
color: #4b77f3;
    
font-size: 17px;
    
display: inline-block;
    
padding: 8px 0 11px 0;
    
font-family: 'Raleway';
    
font-weight: 600;
    
background-color: transparent;
}
.controls label.active {
  color: #555;
  background-color: white;
  width: auto;
  
}
.controls textarea {
  resize: none;
  height: 200px;
}

.delete-btn{
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #fff;
  float: right;
}
.delete-btn:hover {
  background-color: #224c60;
}

.grid {
/*  background: white;*/
}
    
.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
}
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}
.grid .col-md-6,.grid .col-md-4,.grid .col-md-3,.controls{
    padding: 8px 18px 0;
}
main aside:first-child{
}
.department .notification {
    /* min-width: 49%; */
    /* height: 27em; */
    /* overflow: auto; */
    }
    
.date-form .controls {
     padding: 0; 
    }
.tasks{
        padding: 0;
    }   
.notification {
margin-left: 3px;
 
  width: 49%;
  border-radius: 6px;
  box-shadow: 0.0625rem 0.0625rem 0.0925rem gray;
  margin: 10px auto;
  position: relative;
}
.notification-title span{
    
vertical-align: text-top;
    
font-size: 16px;
}
.notification .notification-close {
  position: absolute;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50px;
  width: 18px;
  color: #ef3b3a;
  height: 18px;
  line-height: 15px;
  text-align: center;
}
.notification .notification-title,
.notification .notification-message {
  font-family: 'Open Sans', sans-serif;
}
.notification .notification-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 18px;
    margin-bottom: 18px;
    border-bottom: 1px solid white;
    background-color: #e5e5e5;
    border-radius: 5px 5px 0 0;
    color: #1b41ae;
}
.notification .notification-message {
  font-weight: 400;
  font-size: 14px;
}


.grid:after {
  content: "";
  display: table;
  clear: both;
}
.container .notification{
    background: #ffffff;
    padding-right: 0px;
    padding-left: 0px;
    border: 1px solid #ccc;
  }


.custom-counter {
  padding: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.custom-counter li {
  counter-increment: step-counter;
  padding-left: 15px;
  margin-bottom: 10px;
}

.custom-counter li::before {
  content: counter(step-counter);
  font-size: 80%;
  background-color: rgb(75, 119, 243);
  color: white;
  font-weight: bold;
  padding: 3px 9px;
  border-radius: 3px;
}
.custom-counter1 {
  margin: 0;
  padding: 0;
  list-style-type: disc;
}

.custom-counter1 ul {
  margin-bottom: 10px;
  color: gray;
    border-bottom: solid 1px #ccc;
        padding-bottom: 35px;
}

.custom-counter1 ul::before {
      content: counter(step-counter);
    background-color: rgb(255, 217, 78);
    color: white;
    font-weight: bold;
    padding: 2px 9px;
    margin: 0 10px 0 0;
    border-radius: 3px;
    display: inline-block;
}
.custom-counter1 .Emp-Name{
    color: #222;
    font-weight: 700;
    font-size: 18px;
    vertical-align: middle;
    /* border-bottom: 1px solid; */
    /* margin-bottom: 8px; */ 
}
.custom-counter1 .title{
    /* margin: 24px 0px; */
    color: #606060;
    text-decoration: none;
    float: left;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 40px;
}
.description{
    color: #4b77f3;
        float: left;
}
.notification .footer{
    border-top: 1px solid white;
    padding-top: 14px;
}
.notification .footer .btn{
    float: right;
    border-radius: 4px;
    background: transparent;
    margin: 0 18px 15px 0;
}
.notification .footer .btn:hover{
    background: #4b77f3;
    color: white;
      box-shadow: 1px 1px 2px white; 
}
.task .notification{

      width: 100%;
}

.task .notification .notification-title {
    display: inline-block;
}

.task{
    margin-bottom: 30px;
    margin: 2px;
    background:  white;
    border-radius: 12px 0 0;
}
.enter-task,.addSec{
    margin-top: 20px;
    border-radius: 12px 0 0;
    margin: 0;
    padding: 0 0px 15px;

    margin-left: 0px;
    margin-right: 0px;}
.margin-top{
    margin-top: 5em;
}
.notification .auto-height{
   padding: 7px 17px;
    font-size: 17px;
    color: #4b77f3;
    font-family: sans-serif;
    height: 12em;
    overflow: auto;
    margin-bottom: 16px;
}
.auto-height{
   
    height: 22em;
    overflow: auto;
   
}
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #428bca;
}

.post{
   width: 50%;
   margin: 15px auto;
   text-transform:  capitalize;
   border-radius: 9px;
   background: white;
   min-height: -5px;
   padding-top: 2px;
}
.post h1{
    color: #ffffff;
    padding: 20px 10px;
    margin: -3px 0;
    font-family:  inherit;
    border-radius: 11px 2px;
    font-size: 19px;
    background: #49baf0;
}
.changeBtn{
    float: right;
}
.post .form-group:last-child{
    border-top: 1px solid #dddcdc;
    padding-top: 10px;
}
.post-header{
    padding: 0px;
}
.post-content{
    padding: 40px 31px 15px;
}
.addSec form{       
    box-shadow: 0.0625rem 0.0625rem 0.0925rem grey;  
    border-radius: 11px 0 0;   
    background:  white;
}

.breadcrumb {
    background-color: #616161;
    width: 100%;
    margin: 20px 0;
    }
form label{
    font-size: 
}
.department .heading{
   font-size: 23px;
   padding-bottom: 5px;
   border-bottom: 1px solid #428bca;
   margin-bottom: 11px;
   /* font-family: 'Raleway'; */
}
.btn-right{
    text-align: right;
}
@media screen and (max-width: 768px) {
    .post {
        width: 100%;}
    .list-element {
         padding: 0;
         overflow: initial!important;
        }
   .department .notification {
      width: 100%;
      margin: 0;
      margin-left: 0;
      margin-bottom: 12px;
      }
    .navbar-nav {
        margin: 7.5px 0px;
    }
.breadcrumb>.active {
    color: #f0d90b;
}
input::-webkit-calendar-picker-indicator,.controls input[type="date"]{
    display: none;
}
input[type="date"]::-webkit-input-placeholder,.controls input[type="date"]{ 
    visibility: hidden !important;
}
