@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);
@import url(https://fonts.googleapis.com/css?family=Cairo);
@import url(https://fonts.googleapis.com/css?family=Raleway);
*{
 font-family: 'Cairo', sans-serif;
}
body{
     direction: rtl;
     font-family: 'Cairo', sans-serif;
     /* display: flex; */
     width: 100%;
    text-align: right;
    background-color: #f2f2f2;
}
html,
main {
  min-height: 77.6vh;
  margin: 0;
  padding: 0;
}

main {
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  font-family: 'Cairo', sans-serif;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background: transparent;
    border-bottom: 1px solid #ffcc01;
    color: #ffd90b;
    width: 100%;
    width: -6px;
    padding: 15px 12px 4px;
}
.topnav{
    background: #616161;
    color: white;
    min-height: 7vh;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
.navbar-default .navbar-nav>li>a:hover{
    color: gold;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color: transparent;
    color: gold;
}
.navbar-default .navbar-nav>.dropdown>a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
    margin-right:5px
}
.navbar-default .navbar-brand {
    color: #ffd90b;
    font-size: 32px;
    line-height: normal;
}
.navbar-default .navbar-brand:hover {
    color: #fff;
}
html #footer {
  bottom: 0;
  text-align: center;
  width: 100%;
  line-height: 3;
  margin-top: 16px;
  right: 0;
  font-size: 24px;
  right: 0;
  color: #ffd90b;
  /*! position: absolute; */
  background-color: #616161;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}
.container .info {
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #ffffff;
  font-size: 16px;
}
.container .info span a {
  color: #ffd90b;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.btn-primary {
    border-radius: 4px;
    /* margin-right: 22px; */
    min-width: 97px;
    /* padding: 8px 24px; */
}
.btn-primary:hover {
    border: 1px solid gold;
    background-color: #fac840;
    color: #1b41ae;
    font-weight: 700;
}


.container>.navbar-header{
    display: inline-block;
}
.navbar-toggler{
    margin-top: 10px;
    border-bottom: 1px solid #9c9999;
    color: gold;
    border-radius: 2px;
    cursor: pointer;
    float: right;
    background: transparent;
    text-align: center;
}
.navbar-toggler:hover {
    border: 0;
    border-bottom: 1px solid gold;
    background-color: transparent;
    color: white;
}
.notification .notification-close {
    right: 24px;
        
}
.custom-counter li::before {
    margin-right: 8px;
}
.navbar-toggler{
    float: right;
}
.controls label{
    left: 8px;
}
.container .notification:nth-child(odd) {
    content: "";
    display: table;
    clear: both;
}
.custom-counter1 li {
    margin: 15px 4px;
}

@media screen and (min-width: 768px) {
      .navbar-toggler{
       display: none;
    }
}
@media screen and (max-width: 1024px){
        .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11 {
    float: none;
}
}
@media screen and (max-width: 768px) {

    main aside {
        width: 100%;
    }
    main{
        
    }
     .navbar-default .navbar-nav .open .dropdown-menu>li>a{
       color: white;
    }
}
.changeBtn {
    float: left!important;
}
.btn-right {
    position:  relative;
    left: 15px;
    text-align: left!important;
}
label,.heading{
    text-align: right;
     font-family: 'Cairo', sans-serif;
}
.text-right{
    text-align: left;
}

.col-xs-10 {
    position: relative;
    right: 31px;
}

.navbar-toggler {
    float: left;
}
.dep-title h3 {
    padding-left: auto!important;
    padding-right: 20px!important;
}
.form-horizontal .control-label{
    margin-bottom: 12px;}

.flatpickr-calendar{
    top: 269.094px;
    right: 280.5px !important;
    left: auto !important;
}
.flatpickr-calendar:before, .flatpickr-calendar:after{
    right: 22px !important;
    left: auto !important;
}
.col-xs-10 {
    position: relative;
    right: 38px;
}
    
@media (min-width: 768px)
{
.container>.navbar-header, .container>.navbar-collapse {
        float: right;
        margin-right: 0;
        margin-left: 0;
    }
    .navbar-right {
    float: left!important;
    }
    .navbar-nav>li {
    float: right;
    }
}